

#division{
    display: flex;
}

a{
    text-decoration: none;
    color: #000000;
}

#menu{
    width: 100%;
    padding: 10px 0px 0px 20px;
    background-color: aquamarine;
    
}

header{
 display: flex;
}

#titulo{
    padding-left: 20px;
}

.navbar{
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: #2E302B;
    z-index:99999;
    opacity: 0.98;
}



.nav-link{
    color: #ffffff;
    font-size: 18px;
}

.nav-link:hover {
    color: #ffffff !important;
}

.nav-link:active {
    color: #ffffff !important;
}

.nav-link:visited {
    color: #ffffff !important;
}

.navbar-toggler{
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    /*min-height: 85vh; */
}

footer{
    background-color: #000000;
}

.content {
    flex-grow: 1; 
}

.texto1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.texto2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

div .col > a:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
  text-decoration: none;
}

div .col > a:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
  text-decoration: none;
}

div .col > a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #cfcfcf;
  text-decoration: none;
}

div .col > a:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
  text-decoration: none;
}

a{
    border:none !important;
    outline:none !important;
}

.textoA{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    
}

.linea{
    border-left: 2px solid #ffffff;
    height: 250px;
    margin: 0 auto;
    width: 2px;
}

.card-title {

    display: block;
    margin-left: auto;
    margin-right: auto;

}

.card-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: dimgrey;

}

.info {
    text-align: center;
    font-size: 45px;
}

.info1 {
    margin: 10px;
    padding: 15px;
    text-align: center;
    font-size: large;
}

.info2 {
    margin: 10px;
    padding: 15px;
    text-align: center;
    font-size: 40px;
    color: #ededed;

}

.border-radius-20 {
    border-radius: 1.25rem;
}

.box-style {
    border: 1px solid #E2E2E2;
}

#cosaVerde {
    border: 1px solid #E2E2E2;
    border-radius: 1.25rem;
    background-color: #2e3a2d;
}

#DemoCarrousel.carousel.slide {
    width: 100%;
    max-width: 920px !important;
}

.colcom {

    text-align: center;
    top: 90px;
    padding: 5%;
    height: 70%;
    border-style: ridge;
    border-width: thin;
    border-color: #000000;
    border-radius: 10px;
    margin-left: 20px;


}

.usuarioF {
    padding: 15%;
    width: 95%;


}

.ej {
    display: flex;
}


.usuario {
    font-size: large;
}

.textoTarjeta{
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

.bottom {
    width: 100%;
}
.container {
  margin-top: 20px;
}

.estiloH{
    padding: 15px;
}

.carrusel{
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.imagenesCarrusel{
    width: 3600px;
    height: 800px;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    animation-name: slide_animation;
    -webkit-animation-duration: 20s;
    animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

.imgCont{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}

.col1{
    background-color: #ffffff;
    margin: 20px;
    border: solid 1px #000000;
    border-radius: 5%;
    padding: 65px;
    text-align: center;
}

.perfil2{
    border-radius: 100%; 
    width: 80px; 
    margin: 5px;
}

.nombre1{
    font-size: 20px;
    font-weight: 500;
}

.profesion{
    font-size: 17px;
    font-weight: 400;
}

.recs{
    width: 25%;
}

.colRec{
    background-color: #ffffff;
    margin: 40px;
    border: solid 1px #000000;
    border-radius: 5%;
    padding: 15px;
    text-align: center;
}

.textoTsm{
    font-size: 22px;
    font-weight: 400;
}

.info11{
    margin: 10px;
    padding: 15px;
    text-align: center;
    font-size: large;
}

.logoBruno{
    width: 60%;
}

.imgLogo{
    position: absolute;
    margin-left: 35%;
    margin-top: 19%;
    width: 50%;
    z-index: 9999;
}

.cont1{
    width: 85%;
}

  @media only screen and (max-width: 1000px){
    .info11{
        font-size: 1px;
        opacity: 0;
    }
}

@media only screen and (max-width: 500px){
    .info2{
        font-size: 26px;
    }
}



