/* price */

.price{
    text-align: center;
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 2.5em;
    justify-content: space-evenly;
    align-items: center;
}

.price__element{
    background-color: #e5e5f7;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #0033cc;
    --color-price: #1D293F;
    --bg-cta: #fff;
    --color-cta: #4970c8;
    --color-items: #696871;
    transition: all 0.4s;
}

.price__element--best{
    width: 370px;
    padding: 60px 40px;
    background-color: #E6C30A;
    --color-plan: rgb(255 255 255 / 75%);
    --color-price: #819295;
    --bg-cta: #819295;
    --color-cta: #FFF;
    --color-items: #819295;
}

.price__element:hover{
    transform: scale(1.05);
    transition: all 0.8s; 
}

.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.price__price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items{
    margin-top: 35px;
    display: grid;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(0, 0, 0, .5);
}