body{
    background-image: url(../img/fondoSobre.png);
}

.navbar{
    overflow: hidden;
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: #2E302B;
    z-index:99999;
    opacity: 0.98;
}

.nav-link{
    color: #ffffff;
    font-size: 18px;
}

.nav-link:hover {
    color: #ffffff !important;
}

.nav-link:active {
    color: #ffffff !important;
}

.nav-link:visited {
    color: #ffffff !important;
}

.navbar-toggler{
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 85vh; 
}

footer{
    background-color: #000000;
}

.content {
    flex-grow: 1; 
}

.texto1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.texto2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

div .col > a:link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
  text-decoration: none;
}

div .col > a:visited {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
  text-decoration: none;
}

div .col > a:hover {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #cfcfcf;
  text-decoration: none;
}

div .col > a:active {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
  text-decoration: none;
}

a{
    border:none !important;
    outline:none !important;
}

.textoA{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: #ffffff;
    text-align: center;
    
}

.linea{
    border-left: 2px solid #ffffff;
    height: 250px;
    margin: 0 auto;
    width: 2px;
}

.flex-container{
    display: flex;

    flex-direction: column-reverse;
}

.flex-container2{
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-container2 > .flex-item{
    background-color: #F2F3F0;
    margin: 25px;
    width: 40%;
    height: 100%;
    padding: 15px;
    min-height: 220px;
}

.flex-card {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-card > .img1, .flex-card > .card-right{
    text-align: center;
    width: 50%;
    height: 100%;
}

.card-right{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content:center;
}

.card-right > .card-txt {
    width: 100%;
    height: 50%;
    min-height: 95px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.flex-container3{
    display: flex;

    height: 250px;
    justify-content: center;
    align-items: center;
}

.flex-container4{
    display: flex;

    height: 250px;
    justify-content: center;
    align-items: center;
}

.flex-container5{
    display: flex;

    height: 250px;
    justify-content: center;
    align-items: center;
}


.flex-container6{
    display: flex;

    height: 250px;
    justify-content: center;
    align-items: center;
    image-orientation: from-image;
    color: #000000;
    display: block;
    text-align: left;
    text-shadow: #000000;
}

.flex-container7{
    
    color: #fffcfc;
 
}



.textoR{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000000;
   
}

.textoRV{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #000000;

    position: relative;
   
    
}

.textoh{

    font-size: 22px;
    font-weight: bold;

}

.flex-container7{
    color: #ffffff;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.img1{
    width: 80px;
}

.sobre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    min-width: 55%;
}

.col1{
    background-color: #ffffff;
    margin: 5px;
    border: solid 1px #ffffff;
    border-radius: 5%;
    text-align: center;
}

.perfil2{
    border-radius: 5%; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.nombre1{
    font-size: 30px;
    font-weight: 500;
}

.profesion{
    font-size: 19px;
    font-weight: 400;
}

.recs{
    width: 25%;
}

.colRec{
    background-color: #ffffff;
    margin: 5px;
    border: solid 1px #000000;
    border-radius: 5%;
    padding: 15px;
    text-align: center;
}

.textoTsm{
    font-size: 22px;
    font-weight: 400;
}


@media screen and (max-width: 1480px) {
div .flex-container2{
    display: column;
}

.flex-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.img1 > img {
    width: 100%;
    margin-left: 55%;
}

.card-right > .card-txt {
    width: 25%;
    height: 50%;
    min-height: 95px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}

}

@media only screen and (max-width: 1045px){
    .sobre{
        width: 100%;
    }
}
